@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-link: #562696;
    --cor-texto: #65399e;
    --cor-texto-destaque: #944cf3;
    --cor-texto-branco: #ffffff;
    --cor-texto-categoria: #CC7F0B;

    --cor-background-azul: #b3def3;
    --cor-background-roxo-claro: #6c17dde1;
    --cor-background-rodape: #ded0f17e;

    
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: var(--cor-background-azul) ;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}

header{
    padding-top: 1%;
}

a{
    text-decoration: none;
    color: var(--cor-link);
}

a:hover{
    color: var(--cor-texto-destaque);
}

.marginSite{
    margin: 0 15%;
}

.alinharDivs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}


.gapDiv{
    gap: 2%;
}

.gapDivGradLink{
    gap: 50%;
}

.marginSuperior{
    margin-top: 5%
}

.corTextoBranco{
    color: var(--cor-texto-branco);
}
span{
    color: var(--cor-texto);
}

@media screen and (max-width: 1024px){
    .alinharDivs {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 767px){
    .marginSite {
        margin: 0 5%;
    }
}
/*Início Apresentação*/
h1{    
    font-size: 3rem;
    color: var(--cor-texto);
    font-weight: 400;
}

h2{
    font-size: 2rem;
    color: var(--cor-texto);
    font-weight: 400;
}

h3{
    font-size: 2rem;
    color: var(--cor-texto);
    font-weight: 400;
}

h4{
    font-size: 2.5rem;    
    color: var(--cor-texto);
    font-weight: 400;
}
p{
    font-size: 1.2rem;
    color: var(--cor-texto);
    font-weight: 400;
    text-align: justify;
    
}

@media screen and (max-width: 1024px){
    h1, h4{
        font-size: 2rem;
    }
    h2, h3{
        font-size: 1rem;
    }    
}

@media screen and (max-width: 767px){
    h1, h4{
        font-size: 1rem;
    }
    h2, h3{
        font-size: 1rem;
    }
}
/*Fim Apresentação*/

/*Inicio Botão Serviços*/
.faixaServiços{
    display: block;
    background-color: var(--cor-background-roxo-claro);
    color: var(--cor-texto-branco);
    font-size: 2rem;
    font-weight: 500;
    width: 100%;
    text-align:center;
    padding: 3%;
    position: relative;
    transition: 0.3s;
    
}

.faixaServiços:hover{
    background-color: #5a13b4;
    color: var(--cor-texto-branco);
    transition: 0.3s;
}

@media screen and (max-width: 1024px){
    .faixaServiços {
        top: -30px;
    }
}

@media screen and (max-width: 767px){
    .faixaServiços {
        top: -15px;
        font-size: 1.5rem;
    }
}
/*Fim Faixa Serviços*/


/*Início Serviços*/

.tamImgServ{
    width: 244px;
    height: 244px;
    flex-wrap: wrap;
}
.tamanhoLetrasBotão{
    font-size: 1rem;
    font-weight: 400;
}

.containerServiços{    
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.textoDestaque{
    color: var(--cor-texto-destaque);
}

.alinharServiços{
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    max-width: 380px;
    min-height: 150px;
}

.alinharServiços > div{
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.textoCategoria{
    color: var(--cor-texto-categoria);
    font-style: italic;
    font-weight: bold;
}



@media screen and (max-width: 1024px){
    .alinharServiços{
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 767px){
    .alinharServiços{
        width: 100%;
    }

    .alinharServiços > img {
        width: 100%;
    }
}
/*Fim Serviços*/

/*Início Rodapé*/
footer{
    background-color: var(--cor-background-rodape);
    padding: 3% 0;
}

.containerRodape{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.containerRodape > div{
    width: 160px;
}

.containerContatos{
    display: flex;
    align-items: center;
    gap: 3%;
    justify-content: space-around;
}
.fonte{
    font-size: 0.9rem;
    text-align: center;
}

@media screen and (max-width: 767px){
    footer{
        padding: 5% 0;
    }

    .containerRodape{
        flex-wrap: wrap;
    }

    .containerRodape > div{
        margin: 10%;
    }
}
/*Fim Rodapé*/